<?xml version="1.0" encoding="utf-8"?>
<!--
  إعداد Deep Links على Android
  يُعرّف المسارات التي يستجيب لها التطبيق
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">

            <!-- الرابط الافتراضي للتطبيق -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep Links المخصصة للتطبيق: app://flutter-template/... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="flutter-template"/>
            </intent-filter>

            <!-- Universal Links: https://app.example.com/... -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="app.example.com"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
